<div>
<h2 mat-dialog-title>Редактирование имени узла</h2>
<mat-dialog-content [formGroup]="updateNameForm">

  <mat-form-field>
    <input type="hidden" formControlName="id">
    <input id="name" matInput placeholder="Имя узла" formControlName="name">
  </mat-form-field>

  <div *ngIf="updateNameForm.controls['name'].invalid && updateNameForm.controls['name'].dirty">
    <span class="mat-error" *ngIf="updateNameForm.controls['name'].errors?.required">
      Имя узла не может быть пустым.
    </span>
    <span  class="mat-error" *ngIf="updateNameForm.controls['name'].errors?.maxlength">
      Имя узла не должно превышать {{updateNameForm.controls['name'].errors?.maxlength.requiredLength}} символов.
    </span>
    <span  class="mat-error" *ngIf="updateNameForm.controls['name'].errors?.deviceNameUnique">
      Имя узла должно быть уникальным.
    </span>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="updateName()" [disabled]="updateNameForm.invalid">Сохранить</button>
  <button mat-raised-button (click)="close()">Отмена</button>
</mat-dialog-actions>
</div>
