﻿@using System
@model IEnumerable<Monitoring.Contracts.DeviceResponse>

<div>
    <h1>Статистика</h1>
</div>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Имя узла</th>
            <th>Дата последней статистики</th>
            <th>Версия Client</th>
            <th>Тип устройства</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.LastStatisticDate</td>
                <td>@item.Version</td>
                <td>@item.OperationSystem</td>
                <td>@Html.ActionLink("События","DeviceEvents", new { deviceId = item.Id, deviceName = item.Name })</td>
            </tr>
        }
        </tbody>
    </table>
</div>