﻿@model List<Monitoring.Contracts.DeviceEventResponse>

<div>
    <h1>События @ViewData["DeviceId"]</h1>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Уровень</th>
                <th>Дата</th>
                <th>Событие</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Level</td>
                    <td>@item.Date</td>
                    <td>@item.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>