﻿<div *ngIf="hasEvents">
  <h2 class="mat-h2">События
    <button mat-button color="warn" (click)="deleteDeviceEvents()">Удалить</button>
  </h2>

  <mat-form-field>
    <mat-label>Фильтр</mat-label>
    <mat-select [ngModel]="selectedLevel | async" (selectionChange)="selectedLevel.next($event.value)">
      <mat-option *ngFor="let option of eventLevelOptions" [value]=option.value>{{option.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="scroll">
    <mat-table [dataSource]="filteredDeviceEvents | async">

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>Дата</mat-header-cell>
        <mat-cell *matCellDef="let deviceEvent">
          {{deviceEvent.date | date:'dd.MM.yyyy H:mm:ss'}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Событие</mat-header-cell>
        <mat-cell *matCellDef="let deviceEvent">
          <mat-icon *ngIf="deviceEvent.level == 1" class="medium-level">error</mat-icon>
          <mat-icon *ngIf="deviceEvent.level == 2" class="high-level">error</mat-icon>
          {{deviceEvent.name}}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row >
    </mat-table>
  </div>
</div>

<div *ngIf="!hasEvents">
  <h2 class="mat-h2">Список событий пуст</h2>
</div>
