﻿<div *ngIf="device">
  <h2 class="mat-h2">{{device.name}}
    <button mat-button color="primary" (click)="openDialog()">Изменить</button>
  </h2>
  <div><span>Дата последней статистики: </span>{{device.lastStatisticDate | date:'dd.MM.yyyy H:mm:ss'}}</div>
  <div><span>Версия Client: </span>{{device.version}}</div>
  <div><span>Тип устройства: </span>{{device.operationSystem}}</div>
  <app-device-event-list [deviceId]="deviceId"></app-device-event-list>
</div>
