<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="title">Monitoring.Client</span>
      <button mat-button routerLink="">Главная</button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
