<div class="container">
  <div class="device-list">
    <app-device-list [selectedDeviceId]="deviceId"></app-device-list>
  </div>
  <div *ngIf="deviceId" class="device-details">
    <app-device-details [deviceId]="deviceId"></app-device-details>
  </div>
</div>
