﻿.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.device-details {
  flex: 2;
  padding: 30px 30px 0 30px;
}

.device-list {
  flex: 3;
  padding: 30px 30px 0 30px;
}
