﻿<div>
  <h1 class="mat-h1">Статистика</h1>

  <div class="scroll">
    <mat-table [dataSource]="devices">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Имя узла</mat-header-cell>
        <mat-cell *matCellDef="let device" [class.selected]="device.id===selectedDeviceId">
          {{device.name}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastStatisticDate">
        <mat-header-cell *matHeaderCellDef>Дата последней статистики</mat-header-cell>
        <mat-cell *matCellDef="let device" [class.selected]="device.id===selectedDeviceId">
          {{device.lastStatisticDate | date:'dd.MM.yyyy H:mm:ss'}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="version">
        <mat-header-cell *matHeaderCellDef>Версия Client</mat-header-cell>
        <mat-cell *matCellDef="let device" [class.selected]="device.id===selectedDeviceId">
          {{device.version}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="operationSystem">
        <mat-header-cell *matHeaderCellDef>Тип устройства</mat-header-cell>
        <mat-cell *matCellDef="let device" [class.selected]="device.id===selectedDeviceId">
          {{device.operationSystem}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="details">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let device">
          <button mat-raised-button color="primary" routerLink="../device/{{device.id}}">Подробнее</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row >
    </mat-table>
  </div>
</div>
